#include <dt-bindings/zmk/matrix_transform.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,physical-layout = &cannonball_physical_layout;
    };

    // 物理レイアウト設定
    cannonball_physical_layout: cannonball_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        kscan = <&kscan0>;
        transform = <&default_transform>;
	    keys //                  w   h   x   y rot rx ry
        // Key
	    = <&key_physical_attrs 100 100 400 450   0  0  0>
	    , <&key_physical_attrs 100 100 400 550   0  0  0>
	    , <&key_physical_attrs 100 100 400 650   0  0  0>
	    , <&key_physical_attrs 100 100 400 750   0  0  0>
	    , <&key_physical_attrs 100 100 300 450   0  0  0>
	    , <&key_physical_attrs 100 100 300 550   0  0  0>
	    , <&key_physical_attrs 100 100 300 650   0  0  0>
	    , <&key_physical_attrs 100 100 300 750   0  0  0>
	    , <&key_physical_attrs 100 100 200 450   0  0  0>
	    , <&key_physical_attrs 100 100 200 550   0  0  0>
	    , <&key_physical_attrs 100 100 200 650   0  0  0>
	    , <&key_physical_attrs 100 100 200 750   0  0  0>
        // Mouse
	    , <&key_physical_attrs 100 100 175 325   0  0  0>
	    , <&key_physical_attrs 100 100 425 325   0  0  0>
        // Stick
	    , <&key_physical_attrs 100 100 300 100   0  0  0>
	    , <&key_physical_attrs 100 100 200 200   0  0  0>
	    , <&key_physical_attrs 100 100 300 300   0  0  0>
	    , <&key_physical_attrs 100 100 400 200   0  0  0>
        // Lever
	    , <&key_physical_attrs 100 100  25 150   0  0  0>
	    , <&key_physical_attrs 100 100  75  50   0  0  0>
	    , <&key_physical_attrs 100 100 175   0   0  0  0>
	    , <&key_physical_attrs 100 100 425   0   0  0  0>
	    , <&key_physical_attrs 100 100 525  50   0  0  0>
	    , <&key_physical_attrs 100 100 575 150   0  0  0>
        // Side
	    , <&key_physical_attrs 100 100  75 500   0  0  0>
	    , <&key_physical_attrs 100 100  75 700   0  0  0>
	    , <&key_physical_attrs 100 100 525 500   0  0  0>
	    , <&key_physical_attrs 100 100 525 700   0  0  0>
        // Back
	    , <&key_physical_attrs 100 100 675 550   0  0  0>
	    , <&key_physical_attrs 100 100 675 650   0  0  0>
	    ;
    };

    // キーレイアウト
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <2>;
        columns = <16>;
        map = <
            // Key
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,4) RC(0,4) RC(1,5) RC(0,5)
            RC(0,6) RC(0,7) RC(0,8) RC(0,9)
            // Mouse
            RC(0,11) RC(0,10)
            // Stick
            RC(1,1) RC(1,2) RC(1,3) RC(1,0)
            // Lever
            RC(1,10) RC(1,11) RC(1,9)
            RC(1, 7) RC(1, 8) RC(1,6)
            // Side
            RC(0,14) RC(1,14) RC(0,12) RC(0,13)
            // Back
            RC(1,13) RC(1,12)
        >;
    };

    // ピン設定
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&shifter 0  GPIO_ACTIVE_HIGH>
            , <&shifter 1  GPIO_ACTIVE_HIGH>
            , <&shifter 2  GPIO_ACTIVE_HIGH>
            , <&shifter 3  GPIO_ACTIVE_HIGH>
            , <&shifter 4  GPIO_ACTIVE_HIGH>
            , <&shifter 5  GPIO_ACTIVE_HIGH>
            , <&shifter 6  GPIO_ACTIVE_HIGH>
            , <&shifter 7  GPIO_ACTIVE_HIGH>
            , <&shifter 8  GPIO_ACTIVE_HIGH>
            , <&shifter 9  GPIO_ACTIVE_HIGH>
            , <&shifter 10 GPIO_ACTIVE_HIGH>
            , <&shifter 11 GPIO_ACTIVE_HIGH>
            , <&shifter 12 GPIO_ACTIVE_HIGH>
            , <&shifter 13 GPIO_ACTIVE_HIGH>
            , <&shifter 14 GPIO_ACTIVE_HIGH>
            ;
    };

    // エンコーダー設定
    head_encoder: encoder_head {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <30>;
        status = "disabled";
    };
    chest_encoder: encoder_chest {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };
    leg_encoder: encoder_leg {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&head_encoder>, <&chest_encoder>, <&leg_encoder>;
    };
};

&sensors {
    head_config {
        triggers-per-rotation = <15>;
    };

    chest_config {
        triggers-per-rotation = <12>;
    };

    leg_config {
        triggers-per-rotation = <12>;
    };
};

&head_encoder {
    status = "okay";
};
&chest_encoder {
    status = "okay";
};
&leg_encoder {
    status = "okay";
};


// SPIピン設定
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };

};


&spi0 {
    status = "okay";
    cs-gpios =  <&gpio0 10 GPIO_ACTIVE_LOW>, <&xiao_d 6 GPIO_ACTIVE_LOW>; // CS
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    compatible = "nordic,nrf-spim";

    // // 光学センサー
    // trackball: trackball@0 {
    //     status = "okay";
    //     compatible = "pixart,pmw3610";
    //     reg = <0>;
  	//     cpi = <1200>;
    //     spi-max-frequency = <400000>;
    //     evt-type = <INPUT_EV_REL>;
    //     x-input-code = <INPUT_REL_X>;
    //     y-input-code = <INPUT_REL_Y>;
    //     irq-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; //MOT
    // };

    // シフトレジスター
    shifter: 595@1 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <400000>;
        reg = <1>;
        #gpio-cells = <2>;
        label = "4HC595";
        ngpios = <16>;
    };
};

// // トラックボール設定
// / {
//   trackball_listener {
//     compatible = "zmk,input-listener";
//     device = <&trackball>;
//     scroller {
//         layers = <2>;
//         input-processors = <
//           &zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)
//           &zip_x_scaler 0 16
//           &zip_y_scaler 1 16
//           &zip_xy_to_scroll_mapper
//         >;
//     };
//   };
// };
